<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="styles.css" rel="stylesheet" />
  <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
  <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
  <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
  <link href="/css/stylesLog.css" rel="stylesheet" />
  <title>Login</title>
</head>

<body>
  <div class="sidenav">
    <div class="login-main-text">
      <h2>Librería<br> Más cuento que Calleja</h2>
      <p>Login</p>
    </div>
  </div>
  <div class="main">
    <div class="col-md-6 col-sm-12">
      <div class="login-form">
        <form action="/login" method="get">
          <div class="form-group">
            <label>Usuario</label>
            <input type="text" id="username" name="username" class="form-control" placeholder="Nombre de Usuario" required>
          </div>
          <div class="form-group">
            <label>Contraseña</label>
            <input type="password" id="password" name="password" class="form-control" placeholder="Contraseña" required>
          </div>
          <button type="submit" class="btn btn-black">Login</button>
          <button type="submit" class="btn btn-secondary">Register</button>
        </form>
        <!-- Mostrar mensaje de error -->
        <div th:if="${error}" class="alert alert-danger">
          <p th:text="${error}"></p>
        </div>
      </div>
    </div>
  </div>
  <script src="/js/scriptLog.js"></script>
</body>

</html>
