<html xmlns:th="http://www.thymeleaf.org">
<div layout:fragment="MainBase">
    <!-- Contenido principal -->
    <div class="container">
         
        <section id="servicios">
            <h2>Listado de Libros</h2>
            <table class="striped">
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>Titulo</th>
                        <th>Precio</th>
                        <th>Stock</th>

                    </tr>
                </thead>
    
                <tbody>
                    <tr th:each="libro : ${libros}">
                        <td>
                            <a th:href="@{/libro/{id}(id=${libro.id})}">
                                 <span th:text="${libro.id}"></span>
                            </a>
                        </td>
                        <td th:text="${libro.id}"></td>
                        <td th:text="${libro.titulo}"></td>
                        <td th:text="${libro.precio}"></td>
                        <td th:text="${libro.stock}"></td>
                        
                    </tr>
                </tbody>
            </table>
        </section>
    </div>
</div>
</html>