<html xmlns:th="http://www.thymeleaf.org">
<div layout:fragment="MainBase">
    <!-- Contenido principal -->
    <div class="container">
         
        <section id="servicios">
            <h2>Listado de Categorias</h2>
            <table class="striped">
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>Nombre</th>

                    </tr>
                </thead>
    
                <tbody>
                    <tr th:each="categoria : ${categorias}">
                        <td>
                            <a th:href="@{/categoria/{id}(id=${categoria.id})}">
                                 <span th:text="${categoria.id}"></span>
                            </a>
                        </td>
                        <td th:text="${categoria.id}"></td>
                        <td th:text="${categoria.nombre}"></td>
                        

                    </tr>
                </tbody>
            </table>
        </section>
    </div>
</div>
</html>