<main>
    <section class="page-section clearfix">
        <div class="container">
            <div class="intro">
                <img class="intro-img img-fluid mb-3 mb-lg-0 rounded" src="img/intro.jpg" alt="..." />
                <div class="intro-text left-0 text-center bg-faded p-5 rounded">
                    <h2 class="section-heading mb-4">
                        <span class="section-heading-upper">Libros que Inspiran</span>
                        <span class="section-heading-lower">Historias para Cada Momento</span>
                    </h2>
                    <p class="mb-3">Cada libro en nuestra colección ha sido cuidadosamente seleccionado, con historias que despiertan la imaginación y conocimientos que enriquecen el alma. Una vez que los descubras, nuestros libros se convertirán en una parte esencial de tu rutina diaria. ¡Te lo garantizamos!!</p>
                    <div class="intro-button mx-auto"><a class="btn btn-primary btn-xl" href="store">¡Ve nuestro horario!</a></div>
                </div>
            </div>
        </div>
    </section>
    <section class="page-section cta">
        <div class="container">
            <div class="row">
                <div class="col-xl-9 mx-auto">
                    <div class="cta-inner bg-faded text-center rounded">
                        <h2 class="section-heading mb-4">
                            <span class="section-heading-upper">Nuestro Compromiso</span>
                            <span class="section-heading-lower">Contigo</span>
                        </h2>
                        <p class="mb-0">Cada vez que entres en nuestra librería, nos dedicamos a brindarte una atención amable, un ambiente acogedor y, sobre todo, una cuidada selección de libros de la más alta calidad. Si algo no cumple con tus expectativas, háznoslo saber y haremos todo lo posible para solucionarlo. ¡Tu satisfacción es nuestra prioridad!</p>
                    </div>
                </div>
            </div>
        </div>
    </section>
</main>